#canvas-container {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    cursor: grab;
    background-color: #efecec;
}


#canvas {
    width: 300%;
    height: 300%;
    transform-origin: top left;
}    

h1  {
    font-family: Georgia, Cambria, Cochin, Times, 'Times New Roman', serif;
    font-weight: medium;
    color: gray;

}

.container-box {
    font-family: Georgia, Cambria, Cochin, Times, 'Times New Roman', serif;
    width: 500px;
    line-height: 135%;
    font-size: small;
    height: auto;
    position: absolute;
    background-color: white;
    border: 1px solid #dee2e6;
    padding: 50px;
    /*padding-left: 50px;*/
    /*box-shadow: 0 2px 5px rgba(0,0,0,0.2);*/
    /*border-radius: 20px;*/
}

.notes
{
    font-size: smaller;
    background-color: rgb(255, 255, 255);
    padding: 30;
    /*font-style: italic;*/ 
}

.minds {
    font-size: smaller;
    background-color: rgb(255, 255, 255);
    /*font-style: italic;*/
}

.navigate {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: red;
}

/*.emfasize {
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: gray;
    font-size: large;
    top: -10px;
}*/


.clickable-word {
    cursor: pointer;
    color: rgb(191, 191, 191);
    text-decoration: none;
  }
  
  /* Styles for the modal window */
  #modal {
    position: fixed; /* Positioning relative to the browser window */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw; /* Takes up the entire width */
    height: 100vh; /* Takes up the entire height */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
  }
  
  /* Styles for the image inside the modal window */
  #modal-img {
    max-width: 80vw; /* Maximum width of the image */
    max-height: 80vh; /* Maximum height of the image */
  }

#container-1 { top: 20px; left: 20px; }
#container-2 { top: 1000px; left: 20px; }
#container-3 { top: 450px; left: 800px; }
#container-4 { top: 240px; left: 800px; }
#container-5 { top: 1000px; left: 700px; }
#container-6 { top: 1500px; left: 900px; }
#container-7 { 
    top: 20px; 
    left: 1200px;
    background-color: aqua;

}
#container-8 { top: 1200px; left: 1500px; }
#container-9 { top: 400px; left: 1400px; }
#container-10 { top: 400px; left: 2100px; }
#container-11 { top: 900px; left: 1800px; }
