#canvas-container {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    cursor: grab;
    background-color: gray
}

#canvas {
    width: 300%;
    height: 300%;
    transform-origin: top left;
}    

h1  {
    font-family: Georgia, Cambria, Cochin, Times, 'Times New Roman', serif;
    font-weight: medium ;
    font-size: 14pt;
    color: rgb(0, 0, 0);
    line-height: 90%

}

.container-box {
    font-family: Georgia, Cambria, Cochin, Times, 'Times New Roman', serif;
    width: 500px;
    line-height: 135%;
    font-size: small;
    height: auto;
    position: absolute;
    background-color: white;
    /*border: 2px solid #2a2a2a;*/
    /*padding: 90px;*/
    padding-left: 40px;
    padding-right: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 20px 20px 20px 20px dimgray;
    text-justify: inter-word;
    hyphens: auto;
    /*border-radius: 20px;*/
}

.notes
{
    font-size: smaller;
    background-color: rgb(255, 255, 255);
    padding: 30;
    /*font-style: italic;*/ 
}

.minds {
    font-size: smaller;
    background-color: rgb(137, 137, 137);
    border: 2px solid #2a2a2a;
    /*font-style: italic;*/
}

.navigate {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: red;
}

/*.emfasize {
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: gray;
    font-size: large;
    top: -10px;
}*/


.clickable-word {
    cursor: pointer;
    color: black;
    text-decoration: underline;
  }
  
  /* Styles for the modal window */
  #modal {
    position: fixed; /* Positioning relative to the browser window */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw; /* Takes up the entire width */
    height: 100vh; /* Takes up the entire height */
    /*background-color: rgba(255, 255, 255, 0.5);*/ /* Semi-transparent background */
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
  }
  
  /* Styles for the image inside the modal window */
  #modal-img {
    max-width: 80vw; /* Maximum width of the image */
    max-height: 80vh; /* Maximum height of the image */
    border: 2px solid #858585;
  }

#container-1 { top: 20px; left: 20px; }
#container-2 { top: 1000px; left: 20px; }
#container-3 { top: 600px; left: 800px; }
#container-4 { top: 240px; left: 800px; }
#container-5 { top: 1400px; left: 700px; }
#container-6 { top: 2000px; left: 900px; }
#container-7 { 
    top: 20px; 
    left: 1200px;
    background-color: aqua;

}
#container-8 { top: 1400px; left: 1500px; }
#container-9 { top: 400px; left: 1400px; }
#container-10 { top: 400px; left: 2100px; }
#container-11 { top: 1100px; left: 1800px; }
#container-12 { top: 900px; left: 3200px; }
#container-13 { top: 1600px; left: 2400px; }
#container-14 { top: 900px; left: 2600px; }
#container-15 { top: 2000px; left: 1600px; }
#container-16 { top: 2050px; left: 2300px; }
#container-17 { top: 2250px; left: 2300px; }
#container-18 { top: 2450px; left: 2850px; }
#container-19 { top: 2850px; left: 3100px; }
#container-20 { top: 2650px; left: 3700px; }
#container-21 { top: 2550px; left: 1600px; }
#container-22 { top: 2950px; left: 2200px; }
#container-23 { top: 3250px; left: 1300px; }
#container-24 { top: 2950px; left: 1000px; }
#container-25 { top: 1800px; left: -300px; }
#container-26 { top: 2950px; left: 1000px; }
#container-27 { top: 1750px; left: 500px; }
#container-28 { top: 2350px; left: 400px; }
#container-29 { top: 3700px; left: 2800px; }
#container-30 { top: 550px; left: 3670px; }
#container-31 { top: 250px; left: 2800px; }
#container-32 { top: 150px; left: 3400px; }
#container-34 { top: 750px; left: 4300px; }
#container-35 { top: 2050px; left: 4300px; }
#container-36 { top: 2250px; left: 5600px; }
#container-37 { top: 150px; left: 6000px; }
#container-38 { top: 1650px; left: 4000px; }
#container-39 { top: 1650px; left: 5000px; }
#container-40 { top: 3050px; left: 4600px; }
#container-43 { top: 3450px; left: 1100px; }
#container-44 { top: 4550px; left: 1500px; }
#container-45 { top: 4050px; left: 900px; }
#container-46 { top: 4250px; left: 2200px; }
#container-47 { top: 3500px; left: 500px; }
#container-48 { top: 3500px; left: 1800px; }
#container-51 { top: -650px; left: 6200px; }
#container-52 { top: -350px; left: 5300px; }
#container-53 { top: 450px; left: 6600px; }
#container-54 { top: 850px; left: 5600px; }
#container-56 { top: 3850px; left: 6400px; }